@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
header{
    width: 100%;
    height: 89px;
    background-color: #404EED;
    display: flex;
    align-items: center;
}
h1 img{
    width: 340px;
    height: 56px;
    margin-left: 80px;
}
.main-content{
    display: flex;
}
main{
    width: 50%;
    height: 785px;
    display: flex;
    justify-content: center;
    background-color: #FCFCFC;
}
section{
    width:400px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.options-container1 img{
    width: 80px;
    height: 80px;
}

.options-container2 img{
    width: 80px;
    height: 55px;
}
.options-container3 img{
    width: 60px;
    height: 60px;
}
main section span{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    color:#232323;
}
b{
    font-weight: bold;
}
.options-container1,.options-container2,.options-container3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 140px;
    align-items: center;
}
.option-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.option-container span{
    margin-top: 8px;
}
.circle-background{
    display: flex;
    width: 100px;
    height: 100px;
    background: #F2F2F2;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.image-reference{
    display: flex;
    flex-direction: column;
}
input{
    width: 400px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin: 10px 0;
    
}
::placeholder{
    padding-left: 15px;
}
.image-reference button{
    background-color: #C4C4C4;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

aside{
    width: 50%;
    background-color: #404EED;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
aside img{
    width: 100%;
    height: 785px;
    position: absolute;
}
.last-products{
    width: 100%;
    height: 342px;
    background-color:#F2F2F2;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}
h3{
    color: white;
    margin-left: 120px;
    margin-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #232323;
}
.product-container{
    display: flex;
    align-items: center;
    margin-left:120px ;
    margin-right: 170px;
    overflow: scroll;
}
.product{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 235px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    margin-right: 15px;
}
.product img{
    width: 180px;
    height: 180px;
}

@media only screen and (max-width: 768px) {
    aside{
        display: none;
    }
    main{
        width: 100%;
    }
    header{
        justify-content: center;
    }
    header img{
        width: 100%;
        max-width: 340px;
        margin: 0;
    }
    .last-products{
        width: 100%;
        margin: 0;
    }
    .product-container{
        width: 100%;
        margin: 0;
    }
    .product{
        margin-right: 8px;
        margin-left: 8px;
    }
    input{
        width: 100%;
        
    }
    .image-reference button{
        width: 100%;
    }
    h3{
        margin: 0;
        margin-left: 8px;
    }
}